var qbtn = document.querySelector("#qbtn-<%= @qid %>")
qbtn.nextSibling.nextSibling.remove();
qbtn.remove();
if (document.querySelectorAll('.special').length === 0)
{
  //save in line partial upload
  const line = "<%= j render 'shared/upload', exam: @exam, submission: Submission.new %>"
  const list = document.getElementById("addBtn");
  list.insertAdjacentHTML("beforeend", line);

  const upload = document.getElementById("upload");
  const bodyElement = document.querySelector("body");

  if (upload) {
    const submit = document.getElementById("submit");
    upload.addEventListener("change", (event) => {
      submit.click();
      bodyElement.insertAdjacentHTML("afterbegin", "<div class='uploading'><h2 class='text-primary'>Uploading images...please wait</h2></div>");
    });
  }
}
