// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #0abb87;
$gray: #0E0000;

// Personal color set
$light-gray: rgb(244,244,244);
$color-danger: rgba(0,0,0,0.6);
$shadow-blue:rgba(242,239,199,0.3);
$color-primary: rgb(104,178,160);
$my-white: rgb(255,255,255);
$color-body: rgb(205,224,202);
$color-border: rgb(18,84,98);
$color-progress:rgb(7,52,82);
$my-black: rgb(0,0,0);
