// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #0abb87;
$gray: #0E0000;
$light-gray: #F4F4F4;
$color-danger: rgba(0,0,0,0.6);
// color set
// $my-blue: rgba(105,39,255,1); //#6927ff
$color-primary: #F2EFc7;
// $my-white: #edf3f7;
$color-body: rgba(0,0,0,0.01);
