<div class="row">
  <div class="colummns large-12">
    <div class="row">
    <div class="large-4 columns">
      <h4>Submissions</h4>
      <br/>
      <ul id="photos_clearing" class="clearing-thumbs" data-clearing>
      </ul>
      <br/>
      <label for='photos'>Upload Students Answer Sheet</label>
      <input type="file" id="photos" name="photos[]" multiple/>
      <input type="submit"/>
    </div>
  </div>
  </div>
</div>
