
<div class="row banner floatLeft">
  <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
    <div class="banner-card1">
      <div class="banner-card3 d-flex justify-content-between flex-column">
        <div class="banner-head">Grade hand-written exams instantly</div>
        <div class="banner-text space">
          <ol content class="text-left">
            <li><b>Save</b> the correct answers of your test</li>
            <li><b>Analyse</b> students answers automatically</li>
            <li><b>Download</b> graded students tests</li>
          </ol>
        </div>
        <div class="mb-5 mt-3">
          <%= render 'shared/upload_exam', exam: Exam.new %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 d-flex align-items-end">
    <%= image_tag "printer.jpg", class: "hide-in-mobile" %>
  </div>
</div>

