<div class="col-12 px-0">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.jdyoung.com/wp-content/uploads/2019/01/robot-reading-document-AI-content-management.jpg);">
    <div class="container">
      <h1><strong>AutoTest</strong></h1>
      <h2><b>Grade hand-written exams instantly</b></h2>
      <%= simple_form_for(@exam) do |f| %>
        <%= f.input :image, input_html: { class: 'text-white banner-btn btn btn-primary hide', id: 'upload' }, label: false  %>
        <!--,as: :file, , multiple:true add this inside inner html -->
        <%= f.input :image_cache, as: :hidden %>
        <%= f.submit "Upload an exam", class: "banner-btn btn btn-success btn-banner", id: "submit" %>
      <% end %>
      <div class="cards d-flex justify-content-between mx-3">
        <div class="card shadow">
          <p class="text-primary">UPLOAD CORRECT ANSWER SHEET</p>
          <i class="fas fa-file-upload"></i>
          <p style="text-align: center">AutoTest will save correct answers into database</p>
        </div>

        <div class="card shadow">
          <p class="text-primary">UPLOAD STUDENTS' HAND-WRITTEN ANSWER SHEETS</p>
          <i class="fas fa-file-signature"></i>
          <p style="text-align: center">AutoTest will analyze the answers and save</p>
        </div>

        <div class="card shadow">
          <p class="text-primary">DOWNLOAD AND PRINT GRADED ANWER SHEETS</p>
          <i class="fas fa-print"></i>
          <p style="text-align: center">The sheets can be distributed back to students</p>
        </div>
      </div>
    </div>
  </div>
</div>

