<div class="row banner">
  <div class="col-12 col-lg-6 order-2 order-lg-1 d-flex justify-content-center align-items-center">
    <div class="banner-card1 my-5">
      <div class="banner-card3 d-flex justify-content-between flex-column">
        <div class="banner-head">Grade hand-written exams instantly
        </div>
        <div class="banner-text space">
          <ol content class="text-left">
            <li><b>Save</b> the correct answers of your test</li>
            <li><b>Analyse</b> students answers automatically</li>
            <li><b>Download</b> graded students tests</li>
          </ol>
        </div>
        <div class="mb-5 mt-3">
          <%= render 'shared/upload_exam', exam: Exam.new %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 order-1 order-lg-2 d-flex flex-column justify-content-between ">
    <div class="d-flex justify-content-center">
      <%= image_tag "logosinfondo.png", class: "img-logo mt-5 ", style:"" %>
    </div>
    <%= image_tag "printer.jpg", class: "hide-in-mobile", style: "width:100%;" %>
  </div>
</div>
<div class="container bg-light p-5 mb-5">
  <h2>The product</h2>
  <div class="row mt-3">
    <div class="col-12 col-lg-4">
      <p class="text-justify">AutoTest allows to grade hand-written exams in a matter of minutes, as opposed to hours or days. It uses optical character recognition (OCR) to read through the answers and evaluate them. Just pass it the correct answers, then upload the scanned students' answer sheets, and get all the sheets graded and ready to be printed and distributed back to students.</p>
    </div>
    <div class="col-12 col-lg-8">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GzIF2U7NLH4" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <h2 class="mt-5">The process</h2>
  <div class="row mt-3">
    <div class="col-12 order-2 col-lg-8 order-lg-1">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lUyG1UMdoD0?start=2576" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-12 order-1 col-lg-4 order-lg-2">
      <p class="text-justify">As a first step it takes an answer sheet with all the correct answers, and when students' answer sheets get uploaded it matches each answer with that from the correct answer sheet to grade it. Once the process is finished it produce some general analytics for the exam with the option to check individual exams. To find out more watch the video from Le Wagon Demo Day.</p>
    </div>
  </div>
</div>
