<div class="container mt-4">
  <div class="wrapper">
    <div class="row justify-content-center">
      <div class="col-12">
        <h1><marquee>This is the Root/Home Page lol :)</marquee></h1>
        <p>Find me in app/views/pages/home.html.erb</p>
        trial
      </div>
    </div>
  </div>
</div>
