<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <%= @route %>
      <a href="../../../../<%= @route %>">dasdasdas<i class="fas fa-download"></i></a>
    </div>
  </div>
</div>
