.banner {
  background-size: cover;
  background-position: center;
  padding: 160px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: bolder;
}

.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: bold;
}


.btn-flat{
color: white;
padding: 8px 24px;
border-radius: 4px;
background: $primary;
transition: background 0.3s ease;
}

.banner-btn{
}

.circle{
  width: 64px;
  position: relative;
  right: 0px;
  top: 53px;
}

.container h1{
}

.hide {
  transform: translateY(60px);
  opacity: 0;
  z-index: 1;
  width:200px;
  margin-left: -59px;
}

.img-upload-button{
  padding: 10px 67px;
  margin-left:47px;
}

.img-upload-hide{
  transform: translateY(62px);
  opacity: 0;
  z-index: 1;
  width:100px;
  margin-left: 63px;
  padding:8px 126px;
}
