.banner {
  background-size: cover;
  background-position: center;
  padding: 132px 0;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 96px;
  font-weight: bolder;
  font-family: 'Satisfy', cursive;
}

.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
}

.banner p {
  margin: 0;
  font-size: 16px;
}

.card-text{
  color:black;
  font-weight: bold;
}

.circle{
  width: 64px;
  position: relative;
  right: 0px;
  top: 53px;
}

.container h1{
}

.hide {
  transform: translateY(60px);
  opacity: 0;
  z-index: 1;
  width:200px;
  margin-left: -59px;
}

.img-upload-hide{
  transform: translateY(62px);
  opacity: 0;
  z-index: 1;
  width:100px;
  margin-left: 63px;
  padding:8px 126px;
}
