.banner {
  background-size: cover;
  background-position: center;
  padding: 120px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bolder;
}

.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: bold;
}

// .banner p {
//   font-size: 20px;
//   color: white;
//   opacity: .7;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
// }


.btn-flat{
color: white;
padding: 8px 24px;
border-radius: 4px;
background: $primary;
transition: background 0.3s ease;
}

.btn{
  position: relative;
  margin-top: 60px;
}

.circle{
  width: 64px;
  position: relative;
  right: 0px;
  top: 53px;
}

.container h1{
  position: relative;
  left: 60px;
  top: 16px;
}
