.btn-navbar {
  color: black;
  background-color: gray;
  border-color: rgba(0,0,0,0.4);
  font-weight: bold;

  &:hover{
    background-color: rgba(0,0,0,0.1);
  }
}

.btn-flat {
  color:$my-white;
  padding: 8px 18px;
  border-radius: 4px;
  background: $color-primary;
  transition: background 3s ease;
  margin-left:-2px;

  &:hover{
    opacity: 0.7;
    color:$my-white;
    font-size: 1.1em;
  }
}

.btn-submission {
  color:$my-white;
  background-color:$primary;
  box-sizing: border-box;
  border-radius: 28px;
  transform: matrix(1, 0, 0.01, 1, 0, 0);
  font-weight: 600;
  padding:6px 62px 6px 62px;

  &:hover{
    opacity: 0.7;
    font-size: 1.1em;
    color:$my-white;
  }
}

.btn-delete {
  color:$my-white;
  background-color:$orange;
  box-sizing: border-box;
  border-radius: 28px;
  transform: matrix(1, 0, 0.01, 1, 0, 0);
  font-weight: 600;
  padding:6px 45px 6px 45px;

  &:hover{
    opacity: 0.7;
    font-size: 1.1em;
    color: white;
  }
}

.btn-banner {
  margin-bottom:-40px;
}


.btn-upload {
  color:$my-white;
  background-color:$primary;
  box-sizing: border-box;
  border-radius: 28px;
  transform: matrix(1, 0, 0.01, 1, 0, 0);
  font-weight: 600;

  &:hover{
    opacity: 0.8;
    color:$my-white;
  }
}

.btn-download {
  color:$my-white;
  margin:0 351px 6px 0;
  background-color:$primary;
  opacity: 0.7;
  border-color:$color-danger;

  &:hover{
    opacity:1;
    font-size: 1.1em;
    color:$my-white;
  }
}

.banner-btn{
  font-weight:bold;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 2px 8px 2px;
    cursor: pointer;
}
