.btn-flat{
color: black;
padding: 8px 24px;
border-radius: 4px;
background: rgba(0,0,0,0.4);
// border-color: rgba(0,0,0,0.4);
transition: background 0.3s ease;
border-color: white;
}

.btn-flat:hover{
  background: rgba(0,0,0,0.5);
}

.img-upload-button{
  padding: 10px 67px;
}

.btn-submission{
  color: black;
  border-color: rgba(0,0,0,0.4);
  font-weight: bold;
}

.btn-submission:hover{
  background-color: rgba(0,0,0,0.1);
}

.btn-navbar{
  color: black;
  background-color: gray;
  border-color: rgba(0,0,0,0.4);
  font-weight: bold;
}

.btn-navbar:hover{
  background-color: rgba(0,0,0,0.1);
}

.btn-delete{
  color: black;
  border-color: $color-danger;
  background-color: rgba(0,0,0,0.3);
  font-weight: bold;
}

.btn-delete:hover{
  background-color: rgba(0,0,0,0.1);
}

.btn-upload{
  // margin:0 351px 6px 0;
  background-color:$primary;
  opacity: 1;
  border-color:$color-danger;
}

.btn-download{
  margin:0 351px 6px 0;
  background-color:$primary;
  opacity: 0.7;
  border-color:$color-danger;
}

.btn-download:hover{
  opacity:1;
  font-size: 1.1em;
}

.banner-btn{
  font-weight:bold;
}
