.logo {
  display: flex;
  flex-direction: column;
}

.logo-head {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  letter-spacing: -0.085em;
}

.logo p {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 1px;
  display: flex;
  align-items: center;
  letter-spacing: 0.645em;
}
