#myProgress {
  width: 100%;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: $color-progress;
}

.progress-btn-lg{
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 0;
  border-radius: 4px;
}
