#myProgress {
  width: 100%;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: white;
}

.progress-btn-lg{
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 0.8;
  border-radius: 4px;
}
