.uploading {
  position: fixed;
  z-index:1050;
  width:100%;
  min-height:900px;
  padding-top: 360px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: image-url("Spinner-1.4s-200px.gif");
  background-repeat: no-repeat;
  background-position:  center 140px;
  h2 {
    font-size: 48px;
  }
}

.uploading-gear {
  position: fixed;
  z-index:1050;
  width:100%;
  min-height:900px;
  padding-top: 360px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: image-url("gears.gif");
  background-repeat: no-repeat;
  background-position:  center 140px;
  h2 {
    font-size: 48px;
  }
}

