<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-end pt-3">
    <div class="">
      <h1 style="margin-bottom: 20px;">My Exams</h1>
    </div>
    <div class="">
      <%= render 'shared/upload_exam', exam: Exam.new %>
    </div>
  </div>
</div>
<div class="container text-center mt-4">
  <div class="student-exams  justify-content-around">
      <% @exams.each do |exam| %>
      <div class="col-12 mb-3">
        <%= link_to cl_image_tag(exam.image, height: 340, width: 300, crop: :fill, class: "link-img"), exam_path(exam) %>
      </div>
      <% end %>
    </div>
