  <h1 style="text-align: center;" class="m-3">My Exams</h1>
<div class="container text-center mt-4">
  <div class="student-exams  justify-content-around">
      <% @exams.each do |exam| %>
      <div class="col-12 mb-3 shadow">
        <%= link_to cl_image_tag(exam.image, height: 340, width: 300, crop: :fill), exam_path(exam), class: "" %>
      </div>
      <% end %>
    </div>
